html {
    /*Sacado de https://css-pattern.com/3d-rectangles/*/
  --s: 300px; /* control the size*/
  --c1: #f6edb3;
  --c2: #74e04d;
  --c3: #55897c;
  
  --_l:#0000 calc(25%/3),var(--c1) 0 25%,#0000 0;
  --_g:conic-gradient(from 120deg at 50% 87.5%,var(--c1) 120deg,#0000 0);
  background:
    var(--_g),var(--_g) 0 calc(var(--s)/2),
    conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
    conic-gradient(from 60deg at 75% 75%,var(--c1) 0 60deg,#0000 0),
    linear-gradient(150deg,var(--_l)) 0 calc(var(--s)/2),
    conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c1) 0 300deg,var(--c2) 0),
    linear-gradient(-150deg,var(--_l)) var(--c3);
  background-size: calc(0.866*var(--s)) var(--s);
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

form{
   display: flex;
   flex-direction: column;
   gap: 10px; 
}

form+p, form p {
    text-align: center;
}

input,button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

button{
    background-color: #74e04d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error{
    color: rgb(243, 43, 43);
}

.escondido{
    display: none;
}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}